<ion-view view-title="{{logoHeader}}" class="blog-wrapper">
    <ion-content class="padding">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <form ng-submit="search(query)" class="search-box">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="query">
                <!-- <i ng-if="search.length" class="icon ion-android-close icon-clear-search" ng-click="clearSearch()"> -->
                </i>
            </label>
        </form>
        <!-- <div class="no-results center padding" ng-show="datas.length == 0">
            No result found...
        </div> -->
        <ion-list>
            <ion-item ng-repeat="data in datas" ng-click="viewPost(data.id)">
                {{data.title}}
            </ion-item>
            <button class="button button-clear button-positive button-full" ng-click="nextPage(nextset.nextPageToken)">More topics</button>
        </ion-list>
    </ion-content>
</ion-view>
