<ion-view view-title="{{logoHeader}}" class="search-wrapper">
    <ion-content class="padding">
        <form ng-submit="search(query)">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="query">
                <!-- <i ng-if="search.length" class="icon ion-android-close icon-clear-search" ng-click="clearSearch()"> -->
                </i>
            </label>
        </form>
        <ion-list>
            <ion-item ng-repeat="data in datas.items" ng-click="viewPost(data.id)">
                {{data.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
